.header {
  background: url("../img/tlo.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}

.header .jumbotron {
  padding-top: 10rem;
}

.header-small {
  background: url("../img/tlo.jpg");
  background-position: center;
  background-size: cover;
  min-height: 350px;
}

.header-small .jumbotron {
  padding-top: 2rem;
}

nav {
  padding: 0 3rem;
}

.active {
  color: #ff9831;
  font-weight: bold;
}

.section-aboutus img {
  border: 2px solid rgba(253, 109, 37, 0.3);
}

.section-devs {
  background: url("../img/coding.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-devs img {
  margin-bottom: 2rem;
}

.overlay {
  background: rgba(20, 20, 20, 0.9);
  padding: 1rem 0;
}

.section-testimonial {
  border-top: 5px solid rgba(253, 109, 37);
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd6d25;
  box-shadow: 0 1px 0 0 #fd6d25;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fd6d25;
}

.dropdown-content li span {
  color: #fd6d25 !important;
  font-weight: normal !important;
}

.dropdown-content li.disabled span {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: normal !important;
}

.tabs .indicator {
  background-color: #fff;
}

.modal .modal-footer {
  text-align: center;
}

@media (max-width: 992px) {
  .page-footer h5 {
    text-align: center;
  }

  .page-footer p {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .page-footer ul {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .social-media-wrapper {
    text-align: center;
  }
}

@media (min-width: 993px) {
  .page-footer .container {
    width: 80%;
  }
}
